[submodule "root/iso8601.js"]
	path = root/iso8601.js
	url = https://github.com/shumpei/iso8601.js.git
[submodule "root/jquery/jquery-throttle-debounce"]
	path = root/jquery/jquery-throttle-debounce
	url = https://github.com/cowboy/jquery-throttle-debounce.git
