[submodule "root/iso8601.js"]
	path = root/iso8601.js
	url = https://github.com/shumpei/iso8601.js.git
[submodule "root/jquery/jquery-throttle-debounce"]
	path = root/jquery/jquery-throttle-debounce
	url = https://github.com/cowboy/jquery-throttle-debounce.git
[submodule "root/jquery/jquery-cookie"]
	path = root/jquery/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "root/jquery/maximage"]
	path = root/jquery/maximage
	url = https://github.com/akv2/MaxImage.git
[submodule "root/jquery/nivo-slider"]
	path = root/jquery/nivo-slider
	url = https://github.com/gilbitron/Nivo-Slider.git
[submodule "root/jquery/bxslider"]
	path = root/jquery/bxslider
	url = https://github.com/wandoledzep/bxslider.git
[submodule "root/jquery/jquery-waypoints"]
	path = root/jquery/jquery-waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
[submodule "root/jquery/jquery-pageslide"]
	path = root/jquery/jquery-pageslide
	url = https://github.com/srobbin/jquery-pageslide.git
[submodule "root/jquery/grumble.js"]
	path = root/jquery/grumble.js
	url = https://github.com/jamescryer/grumble.js.git
[submodule "root/jquery/lettering.js"]
	path = root/jquery/lettering.js
	url = https://github.com/davatron5000/Lettering.js.git
[submodule "root/css/normalize.css"]
	path = root/css/normalize.css
	url = https://github.com/necolas/normalize.css
[submodule "root/gmaps"]
	path = root/gmaps
	url = https://github.com/HPNeo/gmaps.git
[submodule "root/jquery/path"]
	path = root/jquery/path
	url = https://github.com/weepy/jquery.path.git
[submodule "root/jquery/malihu-custom-scrollbar-plugin"]
	path = root/jquery/malihu-custom-scrollbar-plugin
	url = https://github.com/malihu/malihu-custom-scrollbar-plugin.git
[submodule "root/bonsai"]
	path = root/bonsai
	url = https://github.com/uxebu/bonsai.git
[submodule "root/avgrund"]
	path = root/avgrund
	url = https://github.com/hakimel/Avgrund.git
[submodule "root/jquery/jail"]
	path = root/jquery/jail
	url = https://github.com/sebarmeli/JAIL.git
[submodule "root/jquery/tipsy"]
	path = root/jquery/tipsy
	url = https://github.com/jaz303/tipsy.git
[submodule "root/uni-form"]
	path = root/uni-form
	url = https://github.com/draganbabic/uni-form.git
[submodule "root/jquery/GalleryView"]
	path = root/jquery/GalleryView
	url = https://github.com/jackwanders/GalleryView.git
[submodule "root/jquery/supersized"]
	path = root/jquery/supersized
	url = https://github.com/buildinternet/supersized.git
[submodule "root/jquery/jquery.mb.gallery"]
	path = root/jquery/jquery.mb.gallery
	url = https://github.com/pupunzi/jquery.mb.gallery.git
[submodule "root/bootstrap/bootstrap-datepicker"]
	path = root/bootstrap/bootstrap-datepicker
	url = git://github.com/eternicode/bootstrap-datepicker.git
[submodule "root/bootstrap/bootstrap-timepicker"]
	path = root/bootstrap/bootstrap-timepicker
	url = git://github.com/jdewit/bootstrap-timepicker.git
[submodule "root/bootstrap/magicsuggest"]
	path = root/bootstrap/magicsuggest
	url = https://github.com/nicolasbize/magicsuggest.git
[submodule "root/mersennetwister"]
	path = root/mersennetwister
	url = https://github.com/pigulla/mersennetwister.git
